# Copy to .env for local development
APP_ENV=dev
PORT=8080

# Database
DATABASE_URL=postgres://footy:footy_dev_password@localhost:5432/footy_forecast?sslmode=disable

# Cognito (required)
COGNITO_REGION=eu-central-1
COGNITO_USER_POOL_ID=eu-central-1_VTG79pQlY
COGNITO_ALLOWED_CLIENT_IDS=4u9qq883imns1i31psjtvvh306,1pcd276t2ml66b6gt93q5v72g8
